<!doctype html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">  
</head>

<body>
  <script type="text/javascript" src="https://livejs.com/live.js"></script>
  <link href={{url_for ('static', filename="css/main.css")}} rel="stylesheet"/>  
<title>Helo from Flask</title>

{% if items %}
  <div class="flex flex-wrap">
	{% for item in items %}
	  <div>
		{% block item scoped%}
		  <p>item {{ item }}!</p>
		{% endblock item %}
	  </div>
	{% endfor %}
  </div>
{% else %}
  <h1>No items!</h1>
{% endif %}
</body>
